#heading-jumbo {
    height: 60vh;
    color: white;
    background: linear-gradient(to bottom right, rgb(109, 24, 246), blueviolet, lightblue );
}

#jumbo-second {
    height: 30vh;
    color: white;
    background: linear-gradient(to bottom right, lightblue, coral);
}

#jumbo-third {
    height: 30vh;
    color: white;
    background: linear-gradient(to bottom right, coral, blueviolet );
}

#jumbo-four {
    height: 30vh;
    color: white;
    background: linear-gradient(to bottom right, blueviolet, blanchedalmond );
}

#lotsSpace {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh; 
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
 }

 .jumbotron {
    margin-top: 0px;
    
 }