#heading-jumbo {
    height: 60vh;
    color: white;
    background: linear-gradient(to bottom right, rgb(51, 9, 241), blueviolet, lightblue );
}

#jumbo-second {
    height: 30vh;
    color: white;
    background: linear-gradient(to bottom right, lightblue, coral);
}

#jumbo-third {
    height: 30vh;
    color: white;
    background: linear-gradient(to bottom right, coral, blueviolet );
}

#jumbo-four {
    height: 30vh;
    color: white;
    background: linear-gradient(to bottom right, blueviolet, blanchedalmond );
}

.lotsSpace {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh; 
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
 }

 @media only screen and (max-width: 575px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.5);
        
        border-color: transparent;
        color: black;
    }
}

 .jumbotron {
    margin-top: 0px;
    border-radius: 0px;
 }

 #unilink:active, #unilink:hover, #unilink {
     color: white;
 }

 .btn-logo:hover, .btn-logo:active {
    color:white;
 }